<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Simple Website Template with Sticky Sidebar</title>
    <meta name="description" content="Free responsive website HTML theme with sticky sidebar for both desktop and mobile. ">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
<header>
   
	<div id="header">
		<div class="socialButtons">
			<a class="facebook" href="https://www.facebook.com/htmlcoding">f</a>
			<a class="linkedin" href="https://www.linkedin.com/in/ferencdenes/">in</a>
			<a class="youtube" href="https://www.youtube.com/channel/UCn38Jw1sJzbjVHO95Zp0Sww/videos">&#128898;</a>
			<a class="twitter" href="https://twitter.com/RuwixCube">
			
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

</svg>
			
			</a>
		</div>
		<div id="mobileMenuToggle" title="Menu">M</div>
		<a href="/" id="mobileLogo"></a>
		<div id="headerLeft">
			<div id="menuToggle">&equiv;</div>
		</div>
		<div id="headerRight">
			<nav>  
				<ul>
					     <li><a href="{{url_for('index')}}">Home</a>
					     <li><a href="{{url_for('about')}}">About</a>
						 <li><a href="{{url_for('contact')}}">Contact</a>
						 <li><a href="{{url_for('allusers')}}">Allusers</a>
						 <li><a href="{{url_for('search')}}">Search Users</a>

				</ul>
			</nav>
		</div>
	</div>
</header>
<div id="wrapall">
	<div id="sidebar">
		<div id="stickThis">
			<div id="sidebarContent">
			 <div id="logo"><img src="../static/logo4.png"></div>
				<a id="logo" href="https://html5-templates.com/"></a>
				<aside>
					<div><strong>HEALTHY PHARMACY</strong><br><br>Find information on health, wellness, disorders 
					and conditions</div>
					
					<div><strong>INFORMATION</strong><br><br>Learn about prescription drugs, over-the-counter medicines,
					herbs, and supplements</div>
					
					<div><strong>Genetics</strong><br><br>Explore genetic conditions, genes, and more</div>
					
					<div><strong>Medical tests</strong><br><br>Learn why your doctor orders medical tests 
					and what the results may mean</div>
					
					<div><strong>Medical Enclyopedia</strong><br><br>Articles and images for diseases, symptoms, tests, treatments</div>
					
					<div><strong>Health Recepices</strong><br><br>Try these recipes as part of a healthy lifestyle</div>
					
					<a class="back2Top" href="#">⮝&nbsp;Back to&nbsp;top&nbsp;⮝</a>
				</aside>
			</div>
		</div>
		<div id="stick-here"></div>
	</div>
	<div id="main">
		<section id="page">
			<main>
				<article>
					<h1>THIS IS ABOUT PAGE</h1><br><br>
					<a href="https://www.paypal.com/paypalme/ruwix" target="_blank">donate through PayPal</a>.</strong></p>
				</article>
				
                          <body>

                               <p>
                                    <img src="../static/logo5.png">
                                 </p>
                            <body>
				<article>
				<br><br>
				<p><h2>What is Healthy Pharmacy ?</h2>
PharmEasy is a consumer healthcare “super app”.

PharmEasy is a consumer healthcare “super app” that provides consumers with on-demand, home delivered access to a wide range of prescription, OTC pharmaceutical, other consumer healthcare products, comprehensive diagnostic test services, and teleconsultations thereby serving their healthcare needs. </p</article><br><br>
				 
				 <article>
				 
				   <br>
					<strong><h2>We've got India Covered!</h2></strong><br>
					<p>We now deliver in 1000+ cities and towns across 22000+ pin codes. We thereby cover every nook and corner of the country! The major cities in which we deliver include Mumbai, Kolkata, Delhi, Bengaluru, Ahmedabad, Hyderabad, Chennai, Thane, Howrah, Pune, Gurgaon, Navi Mumbai, Jaipur, Noida, Lucknow, Ghaziabad & Vadodara.

In this article we present four projects that SolDevelo realized with our partner, International Rescue Committee (IRC). We invite you to read and watch our small steps and their big impact.</p>
				   <br><br>

				   <strong><h2>Information</h2></strong><br>
				   <p>At Healthy Rx Pharmacy, you will meet qualified, experienced pharmacists and staff who truly care about you and your family, and are dedicated to serving the community where they live and work. We focus on improving patient health at the best possible value for our customers. We offer a complete traditional prescription service while offering many other specialties.
Handpicked from among the best in the industry, our professionals are on hand during all hours of operation to answer your questions and cater to your needs. We are equipped to provide you with solutions for all your pharmaceutical needs with the quality you deserve.

Our highly experienced staff can quickly fill your prescriptions. We stock a broad selection of name brand and generic prescriptions at competitive prices. We can also special order products not normally carried and usually have them available for you the next day.

We accept most major insurances. We are able to complete most insurance verification within 24 hours or less. Each patient that utilizes our pharmacy can take confidence in knowing that Healthy Rx Pharmacy is here for him or her.</p>

					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				
				</article>
			</main>			
			<footer>
				<p>&copy; You can copy, edit and publish this template but please leave a visible link to&nbsp;our&nbsp;website. <a rel="nofollow" href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5&nbsp;Templates</a></p>
			</footer>
		</section>
	</div>
</div>
</body>
</html>  