<!doctype html>
<html lang="en" class="no-js">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Simple Website Template with Sticky Sidebar</title>
    <meta name="description" content="Free responsive website HTML theme with sticky sidebar for both desktop and mobile. ">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script3.js"></script>
</head>

<header>

	<div id="header">
		<div class="socialButtons">
			<a class="facebook" href="https://www.facebook.com/htmlcoding">f</a>
			<a class="linkedin" href="https://www.linkedin.com/in/ferencdenes/">in</a>
			<a class="youtube" href="https://www.youtube.com/channel/UCn38Jw1sJzbjVHO95Zp0Sww/videos">&#128898;</a>
			<a class="twitter" href="https://twitter.com/RuwixCube">
			
			
			</a>
		</div>
		<div id="mobileMenuToggle" title="Menu">M</div>
		<a href="/" id="mobileLogo"></a>
		<div id="headerLeft">
			<div id="menuToggle">&equiv;</div>
		</div>
		<div id="headerRight">
			<nav>  
				<ul>
				<strong>WELCOME TO HEALTHY PHARMACY!!!</strong>
					     <li><a href="{{url_for('index')}}">Home</a>
                         <li><a href="{{url_for('about')}}">About</a>
						 <li><a href="{{url_for('contact')}}">Contact</a>
                         <li><a href="{{url_for('allusers')}}">Allusers</a>
						 <li><a href="{{url_for('search')}}">Search Users</a>


				</ul>
			</nav>
		</div>
	</div>
</header>
<div id="wrapall">
	<div id="sidebar">
		<div id="stickThis">
			<div id="sidebarContent">
			 <div id="ak"><img src="../static/logo4.png"></div>
				<a id="logo" href="https://html5-templates.com/"></a>
				<body background="C:\Users\Dell\Desktop\python program\projects.py\static\logo6.png" style="background-repeat:no-repeat;background-size:100% 100%">
				<aside>
					<div><strong>HEALTHY PHARMACY</strong><br><br>We accept American Express, Discover, MasterCard, Visa, and a variety of insurances</div>
					
					<div><strong>Easy Payment</strong><br><br>Learn about prescription drugs, over-the-counter medicines,
					herbs, and supplements</div>
					
					<div><strong>Transfer Rx</strong><br><br>For new customers, we make the transfer process quick and easy to give you the best care possible.</div>
					
					<div><strong>Medical tests</strong><br><br>Learn why your doctor orders medical tests 
					and what the results may mean</div>
					
					<div>Healthy Pharmacy = 100% Availability + 100% Genuine Medicine + Easy to Order + Quick Delivery</div>
					
					<div><strong>Auto Refill</strong><br><br>Auto Refill
We offer an Auto Refill Program so you can get your prescription on time and on schedule, always.</div>
					
					<a class="back2Top" href="#">⮝&nbsp;Back to&nbsp;top&nbsp;⮝</a>
				</aside>
			</div>
		</div>
		<div id="stick-here"></div>
	</div>
	<div id="main">
		<section id="page">
	                                  
			<main>
				<article>
				    <br>
					<h1>WELCOME TO INDIA'S LEADING HEALTHCARE</h1><br>
					<h1>PLATFORM HEALTHY PHARMACY!!!</h1><br><br><br>
				              	<body>

                                    <p>
                                       <img src="../static/logo5.png">
                                     </p>
                                  <body>
								  <br><br>
					         <h1>THIS IS HOME PAGE !</h1><br><br>
					<a href="https://www.paypal.com/paypalme/ruwix" target="_blank">donate through PayPal</a>.</strong></p>
				</article>
				<article>
					<h2>Say Goodbye to All Your Healthcare Worries With Healthy Pharmacy!</h2><br><br>
					<p>Eum facete intellegat ei, ut mazim melius usu. Has elit simul primis ne, regione minimum id cum. Sea deleniti dissentiet ea. Illud mollis moderatius ut per, at qui ubique populo. Eum ad cibo legimus, vim ei quidam fastidii.</p>
				
				</article>
				<article>
				<strong><h2>We've got India Covered!</h2></strong><br>
					<p>We now deliver in 1000+ cities and towns across 22000+ pin codes. We thereby cover every nook and corner of the country! The major cities in which we deliver include Mumbai, Kolkata, Delhi, Bengaluru, Ahmedabad, Hyderabad, Chennai, Thane, Howrah, Pune, Gurgaon, Navi Mumbai, Jaipur, Noida, Lucknow, Ghaziabad & Vadodara.

In this article we present four projects that SolDevelo realized with our partner, International Rescue Committee (IRC). We invite you to read and watch our small steps and their big impact.</p>
				   <br><br>

				   <strong><h2>Access medical and health information:</h2></strong><br>
				   <p>Healthy pharmacy delivers reliable and accurate medical information that has been carefully written, vetted and validated by our health experts. Our specialists curate high-quality and most reliable literature about medicines, illnesses, lab tests, Ayurvedic and over the counter health products.</p>

				</article>
				<article>
					<h2>contact</h2><br><br>
					<p>Te has amet modo perfecto, te eum mucius conclusionemque, mel te erat deterruisset. Duo ceteros phaedrum id, ornatus postulant in sea. His at autem inani volutpat. Tollit possit in pri, platonem persecuti ad vix, vel nisl albucius gloriatur no.</p>
				</article>
				<article>
					<h2>Whatsapp for Any Querry</h2><br><br>
					<p>Lorem ipsum dolor sit amet, nonumes voluptatum mel ea, cu case ceteros cum. Novum commodo malorum vix ut. Dolores consequuntur in ius, sale electram dissentiunt quo te. Cu duo omnes invidunt, eos eu mucius fabellas. Stet facilis ius te, quando voluptatibus eos in. Ad vix mundi alterum, integre urbanitas intellegam vix in.</p>
				</article>
				<article>
					<h2>Locally owned and operated</h2><br><br>
					<p>We are a locally owned and independently operated pharmacy serving the community with individualized patient care, and specialized services that cannot be found at a chain pharmacy.

We make the time to put “people first”. From our neighborhood pharmacy feel to our services catered to fit each patients’ needs, we give thought to every detail to improve the quality of life for our patients, prescribers and facilities alike.</p>
				</article>
				<article>
					<h2>Trusted customers</h2><br><br>
					<p>Eum facete intellegat ei, ut mazim melius usu. Has elit simul primis ne, regione minimum id cum. Sea deleniti dissentiet ea. Illud mollis moderatius ut per, at qui ubique populo. Eum ad cibo legimus, vim ei quidam fastidii.</p>
				</article>
				<article>
					<h2>Quality products</h2><br><br>
					<p>Quo debet vivendo ex. Qui ut admodum senserit partiendo. Id adipiscing disputando eam, sea id magna pertinax concludaturque. Ex ignota epicurei quo, his ex doctus delenit fabellas, erat timeam cotidieque sit in. Vel eu soleat voluptatibus, cum cu exerci mediocritatem. Malis legere at per, has brute putant animal et, in consul utamur usu.</p>
				</article>
				<article>
					<h2>An experienced staff for all of your needs.</h2><br><br>
					<p>At Healthy Rx Pharmacy, you will meet qualified, experienced pharmacists and staff who truly care about you and your family, and are dedicated to serving the community where they live and work. We focus on improving patient health at the best possible value for our customers!</p>
				</article>
				             <br>
			</main>			
			<footer>
				<p>&copy; You can copy, edit and publish this template but please leave a visible link to&nbsp;our&nbsp;website. <a rel="nofollow" href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5&nbsp;Templates</a></p>
			</footer>
		</section>
	</div>
</div>
</body>
</html>